// Certified
#container-certified {
    display       : flex;
    flex-direction: row;
    width         : 100%;
    padding-top   : 5% !important;

    .certified {
        width     : 40%;
        margin-top: 55px;

        .title-certified {
            color: #555555;

            h1 {
                border-bottom: 2px solid rgb(57, 57, 57);
            }
        }

        .list-certified {
            text-align    : center;
            padding-bottom: 20px;

            .item-certified {
                display        : flex;
                margin         : 72px 0px;
                justify-content: space-between;

                .content {
                    width     : 600px;
                    text-align: justify;
                    padding   : 0px 10px 0px 0px;

                    .title {
                        font-size  : 22px;
                        font-weight: 600;
                    }
                }
            }

            .item-certified:nth-child(odd) {
                justify-content: left;

                .content {
                    margin: 0px 60px;
                }
            }

            .iconDown {
                font-size: 20px;
            }

            .iconDown:hover {
                cursor   : pointer;
                font-size: 22px;
            }
        }
    }

    .service-plus {
        width           : 40%;
        border-radius   : 10px;
        color           : #fff;
        text-align      : justify;
        background-color: #383838;

        padding: 20px 25px;
        height : fit-content;
        margin : 5% 100px 0px 50px;

        h4 {
            text-align: center;
            margin    : 15px 0px;
        }
    }

    .video {
        width : 50%;
        margin: 5% 2%;

        iframe {
            height: 250px;
        }
    }
}

@media (max-width: 1500px) {
    #container-certified {
        flex-direction: column;
        align-items   : center;

        .certified {
            width: 65%;
            order: -1;
        }

        .service-plus {
            width        : 60%;
            order        : 1;
            margin-bottom: 50px;
        }

        .video {
            order: 0;

            iframe {
                height: 350px;
            }
        }
    }
}

@media (max-width: 900px) {
    #container-certified {

        .certified {
            width: 87%;
            order: -1;
        }

        .service-plus {
            width        : 77%;
            margin       : 0;
            margin-bottom: 50px;
        }

        .video {
            order: 0;
            width: 77%;

            iframe {
                height: 350px;
            }
        }
    }
}

@media (max-width: 600px) {
    #container-certified {
        width: 140vw;

        .certified {
            width     : 77%;
            margin-top: 100px;
            padding   : 0px 0px 0px 100px;

            .list-certified {
                .item-certified {
                    display       : flex;
                    width         : 100%;
                    flex-direction: column;
                    margin        : 25px 0px;

                    img {
                        order: -1;
                    }

                    .content {
                        order      : 0;
                        width      : 100%;
                        overflow   : hidden;
                        white-space: normal;
                        margin     : 20px 0px !important;

                        .title {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}