// Detail Product
#container-detail-product {
    width  : 100vw;
    padding: 15vh 14vw;

    .detail-product {
        display            : flex;
        flex-direction     : row;
        justify-content    : center;
        margin-bottom      : 90px;
        // background-color: pink;

        .list-images {
            width              : 60%;
            // background-color: red;
        }

        .content-detail {
            width              : 40%;
            padding            : 80px 52px 25px;
            // background-color: #00a3e3;

            p {
                font-size: 22px;
            }

            .box-promotion {
                width           : 100%;
                border-radius   : 5px;
                background-color: #00ADEF;
                padding         : 10px 10px 1px 10px;

                p {
                    font-size: 16px;
                    color    : #fff
                }
            }

            button {
                font-weight     : 600;
                margin-top      : 20px;
                margin-right    : 37px;
                height          : 50px;
                border-radius   : 15px;
                width           : 100%;
                background-color: #00ADEF;
            }

            button:hover {
                font-weight     : 700;
                background-color: #00a3e3;
            }
        }
    }

    .detail-info {
        width  : 86%;
        padding: 0px 40px;

        .description {
            .contain-content {
                .title-car {
                    color : #555555;
                    margin: 37px 0px;
                }

                .group-content {
                    margin-bottom: 37px;
                    width        : 100%;

                    .title {
                        font-weight: 500 !important;
                        font-size  : 17px;
                    }

                    .content {
                        font-size: 17px;
                    }

                    img {
                        width        : 100%;
                        margin-top   : 10px;
                        margin-bottom: 10px;
                    }

                    .table-image {
                        width          : 100%;
                        list-style-type: none;

                        display        : flex;
                        flex-wrap      : wrap;
                        justify-content: space-between;
                        padding        : 0px;

                        .item-table {
                            width        : calc(50% - 19px);
                            margin-bottom: 17px;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .rate {
            .item-feedback {
                margin-top: 25px;

                .name-cus {
                    font-weight: 500;
                }

                .avatar-feedback {
                    font-size   : 24px;
                    margin-right: 10px;
                }

                .fa-star {
                    font-size: 17px !important;
                }
            }

            .checked {
                color: #ffa500 !important;
            }

            .fa-star {
                font-size: 19px;
                margin   : 0px 3px;
                color    : #474747;
            }

            .form-rate {
                border       : 2px solid #00ADEF;
                border-radius: 5px;
                width        : 50%;
                height       : 330px;
                padding      : 20px 30px;

                h4 {
                    color        : #545454;
                    font-size    : 20px;
                    margin-bottom: 10px;
                }

                textarea {
                    display: block;
                    width  : 100%;
                    height : 50%;
                    margin : 20px 0px;
                    padding: 20px;
                }

                textarea:focus {
                    border: 2px solid #00ADEF;
                }
            }
        }

    }
}

// Carousel Image
#container-carousel {
    width              : 95%;
    // background-color: yellow;

    .carousel-show {
        height         : 400px;
        width          : 100%;
        text-align     : center;
        display        : flex;
        justify-content: center;
        align-items    : center;

        &:hover {
            cursor: pointer;
        }

        .carousel-indicators {
            display: none;
        }

        .carousel-control-next,
        .carousel-control-prev {
            transition: all 1s !important;
            width     : 130px;
            opacity   : 0;
        }

        .carousel-control-next-icon {
            background-size : contain;
            width           : 15%;
            background-image: url("https://firebasestorage.googleapis.com/v0/b/save-portfolio.appspot.com/o/portfolio%2Ficon_next.png?alt=media&token=30f0fad1-0624-4bc8-8c25-78af23f40d7a");
            filter          : brightness(75%) contrast(80%) opacity(0.7)
        }

        .carousel-control-prev-icon {
            background-size : contain;
            width           : 15%;
            background-image: url('https://firebasestorage.googleapis.com/v0/b/save-portfolio.appspot.com/o/portfolio%2Ficon_pre.png?alt=media&token=a50fa7fe-8fd4-4461-8ca3-0f2610a5548e');
            filter          : brightness(75%) contrast(80%) opacity(0.7)
        }

        .item-carousel {
            width     : 100%;
            height    : 100%;
            text-align: center;
        }
    }

    .carousel-show:hover {

        .carousel-control-next,
        .carousel-control-prev {
            width  : 100px;
            opacity: 1;
        }
    }

    .carousel-list-image {
        display            : flex;
        list-style-type    : none;
        width              : 100%;
        margin-top         : 25px;
        padding            : 0;
        // background-color: purple;
        justify-content    : space-around;

        .item-image {
            width              : 25%;
            // background-color: green;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 100%;
            }

            .blurs-image {
                filter    : brightness(90%) contrast(90%) opacity(0.7);
                transform : translate(0%, 4%);
                transition: transform .6s ease;
            }


        }
    }
}


@media (max-width: 1500px) {
    #container-detail-product {
        padding: 15vh 5vw;
    }
}

@media (max-width: 1200px) {
    #container-detail-product {
        display       : flex;
        padding       : 9vh 5vw;
        align-items   : center;
        flex-direction: column;

        .detail-product {
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            margin-bottom  : 90px;

            .list-images {
                width: 60%;

                #container-carousel {
                    .carousel-show {
                        height: 300px;
                    }
                }
            }

            .content-detail {
                width: 61%;
            }
        }
    }
}

@media (max-width: 600px) {
    #container-detail-product {
        width: 125vw;

        .detail-product {

            .list-images {
                width: 90%;

                #container-carousel {
                    .carousel-show {
                        height: 222px;
                    }
                }
            }

            .content-detail {
                width  : 100%;
                padding: 55px 25px 25px;
            }
        }

        .detail-info {
            width: 100%;
        }
    }
}