$font-family : Arial,
Helvetica,
sans-serif;

#header-container {
    display        : flex;
    justify-content: center;

    width           : 100%;
    height          : 97px;
    padding         : 10px 6%;
    background-color: #020102;

    position: fixed;
    top     : 0;
    left    : 0;
    z-index : 1000;

    #dropdown-basic-button {
        display: none;
    }

    #logo {
        width       : 8%;
        margin-right: 20px;
        display     : flex;
        align-items : center;
        min-width   : 129px;
    }

    #list-menu {
        display: flex;
        width  : 50%;
        margin : 0px;
        padding: 0px;

        list-style         : none;
        justify-content    : space-between;
        padding            : 0px 50px 0px 10px;
        white-space        : nowrap;
        align-items        : center;
        // background-color: red;

        .item-menu {
            font-family: $font-family;
            font-size  : 17px;
            font-weight: bold;

            height         : 72%;
            line-height    : 56px;
            // margin-right: 1%;
            // margin-left : 1%;

            .item-link {
                display        : inline-block;
                color          : #ffffff;
                text-decoration: none;
                padding        : 0px 20px;
                width          : 100% !important;

                span {
                    transition: box-shadow 0.4s ease;
                }
            }
        }

        .item-menu:hover {
            cursor    : pointer;
            transform : translateY(-2px);
            transition: transform 0.5s;
        }

        .have-drop {
            position: relative;
            z-index : 5;

            &:hover>#list-drop-brand {
                display: block;
            }
        }

        #list-drop-brand {
            display   : none;
            list-style: none;

            position: absolute;
            top     : 100%;
            left    : 2%;

            width           : 177px;
            padding         : 0px;
            border-radius   : 5px;
            background-color: #fff;
            box-shadow      : rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .item-brand {
                .brand-link {
                    display        : inline-block;
                    text-decoration: none;
                    color          : #686767;
                    padding        : 0px 15%;
                    height         : 100%;
                    width          : 100%;
                }

                .brand-link:hover {
                    color     : #272727;
                    transition: 0.5s;
                }
            }

            .item-brand:first-child {
                border-radius: 5px 5px 0px 0px;
            }

            .item-brand:first-child .brand-link {
                border-radius: 5px 5px 0px 0px;
            }

            .item-brand:last-child {
                border-radius: 0px 0px 5px 5px;
            }

            .item-brand:last-child .brand-link {
                border-radius: 0px 0px 5px 5px;
            }
        }
    }

    #login-logout {
        width      : 14%;
        min-width  : 223px;
        display    : flex;
        height     : 100%;
        align-items: center;

        .login {
            font-weight: bold;
            height     : 75%;
            line-height: 55px;
            color      : white;
            margin     : 0px 20px;
        }


        .signup {
            height     : 75%;
            line-height: 55px;
            margin     : 0px;
            padding    : 0px 20px;

            font-weight  : bold;
            color        : #fff;
            border-radius: 5px;
            border       : 1px solid white;

            transition: border-color 0.5s, background-color 0.5s, color 0.5s;
        }

        .login:hover {
            cursor    : pointer;
            transform : translateY(-2px);
            transition: transform 0.5s;
        }

        .signup:hover {
            cursor          : pointer;
            background-color: #fff;
            border-color    : transparent;
            color           : #444
        }

        .name-user {
            margin-left: 20px;

            .dropdown-toggle {
                background-color: #020102;
                border          : 2px solid #fff;
            }

            .dropdown-menu {
                padding: 0;
                width  : 122%;
            }

            a {
                display        : inline-block;
                padding        : 10px 20px;
                text-decoration: none;
                height         : 100%;
                width          : 100%;
                color          : #403f3f;
            }

            a:hover {
                // border-radius: 15px;
                font-weight: 400;
                color      : #070707;
            }
        }

        .cart {
            position: relative;

            .icon-cart {
                font-size  : 27px;
                margin-left: 20px;
                color      : white;
            }

            .number-cart {
                position: absolute;
                top     : -14px;
                right   : -6px;
            }
        }
    }

    #languages {
        display    : flex;
        height     : 100%;
        margin-left: 10px;
        width      : 3%;
        min-width  : 45px;
        align-items: center;
        color      : white;

        p {
            margin : 0;
            padding: 0;
        }

        p {
            cursor: pointer;
        }
    }
}

@media (max-width: 1200px) {
    #header-container {
        height         : 77px;
        padding        : 10px 37px;
        justify-content: space-between;

        img {
            width: 99px;
        }

        #list-menu {
            display: none;
        }

        #dropdown-basic-button {
            background-image   : url("https://firebasestorage.googleapis.com/v0/b/save-portfolio.appspot.com/o/portfolio%2F3line.png?alt=media&token=ef8c102c-4009-4c87-9fae-6a176ddbc9eb");
            background-color   : #020102;
            background-size    : cover;
            background-position: center;
            border             : none;
            display            : block;
        }

        #dropdown-basic-button:hover {
            outline: groove;
        }

        .dropdown-toggle::after {
            display    : inline-block;
            margin-left: 0.255em;
            padding    : 8px 8px;

            border-top   : none;
            border-right : none;
            border-bottom: none;
            border-left  : none;
            outline      : none;
            content      : "";
        }

        .dropdown {
            padding: 9px 0px;

            .dropdown-menu.show {
                padding      : 0;
                border-radius: 0px;
                width        : 140vw;
                margin-top   : 17px;

                .item-link {
                    padding             : 14px 20px;
                    font-weight         : 500;
                    text-decoration-line: none;
                    font-size           : 19px;
                    color               : #1A1A1A;
                }

                .item-link-drop {
                    position: relative;

                    #list-drop-brand {
                        position  : absolute;
                        list-style: none;
                        left      : 0;
                        top       : 55px;

                        padding         : 0;
                        width           : 100%;
                        background-color: #5a5a5a;

                        .item-brand {
                            padding: 10px 35px;

                            .brand-link {
                                text-decoration: none;
                                color          : rgb(255, 255, 255);
                            }
                        }

                        .item-brand:hover {
                            background-color: #ffffff;

                            .brand-link {
                                color           : rgb(66, 66, 66);
                                background-color: #ffffff;
                            }
                        }
                    }
                }
            }

            .dropdown-menu.show>div:hover,
            .dropdown-menu.show>a:hover {
                background-color: #858585;
            }
        }

        #languages {
            color  : #1A1A1A;
            width  : 100%;
            padding: 0px 19px;
            margin : 0;

            p {
                margin: 10px 5px;
            }
        }
    }
}

@media (max-width: 600px) {
    #header-container {
        padding: 10px 20px;

        #logo {
            margin-right: 0px;
            min-width   : 90px;
        }
    }

    .dropdown {
        .dropdown-menu.show {
            span {
                font-size: 16px;
            }

            #list-drop-brand {
                li {
                    font-size: 16px;
                }
            }
        }
    }
}