// List Cart
#container-list-cart {
    margin-top   : 8%;
    padding      : 0 8%;
    margin-bottom: 8%;

    table {
        thead {
            th {
                text-align: center;
            }

            .col-select {
                width: 5%;
            }

            .col-quantity {
                width: 12%;
            }

            .col-price {
                width: 22%;
            }

            .col-action {
                width: 9%;
            }
        }

        tbody {
            .col-select {
                width         : 5%;
                text-align    : center;
                vertical-align: middle;
            }

            .col-quantity {
                width         : 12%;
                vertical-align: middle;
            }

            .col-price {
                width         : 22%;
                font-size     : 18px;
                text-align    : center;
                vertical-align: middle;
            }

            .col-action {
                width         : 9%;
                text-align    : center;
                vertical-align: middle;

                .icon-trash {
                    font-size: 22px;
                    color    : rgb(244, 53, 53);
                }

                .icon-trash:hover {
                    cursor: pointer;
                }
            }
        }

    }

    .col_name_cart {
        display: flex;

        .img_cart {
            width       : 22%;
            margin-left : 15%;
            margin-right: 3%;
        }

        .name_item {
            display        : flex;
            align-items    : center;
            justify-content: center;
            font-size      : 18px;
            font-weight    : 500;
            margin         : 0;
        }
    }

    #cart-below {
        display       : flex;
        margin-top    : 60px;
        flex-direction: column;
        align-items   : flex-end;

        .form-address {
            width          : 100%;
            display        : flex;
            flex-wrap      : wrap;
            justify-content: flex-end;
            margin-bottom  : 30px;

            p {
                margin   : 0px 20px 0px 0px;
                min-width: 140px;
                padding  : 22px 0px;
            }

            input {
                width        : 300px;
                height       : 48px;
                border-radius: 25px;
                padding      : 10px 20px;
                margin       : 10px 10px;
            }
        }

        .summary-cart {
            display        : flex;
            flex-wrap      : wrap;
            justify-content: flex-end;

            p {
                display       : flex;
                align-items   : flex-end;
                font-size     : 18px;
                margin        : 0px 10px;
                padding-bottom: 4px;
                min-width     : 135px;
            }

            .select-promotion {
                padding  : 7px 0px 0px 0px;
                min-width: 157px;
            }

            button {
                margin-left: 15px;
                width      : 100px;
                min-width  : 100px;
            }
        }
    }
}

@media (max-width: 600px) {
    #container-list-cart {
        width     : 140vw;
        margin-top: 100px;

        .item-cart {
            width        : 100%;
            margin-bottom: 50px;

            .info-item {
                width: 100%;

                img {
                    width: 80%;
                }

                .name-quantity {
                    display        : flex;
                    flex-direction : row;
                    justify-content: space-around;
                }
            }

            .item-action {
                width          : 100%;
                display        : flex;
                justify-content: center;
                border-radius  : 5px;
                padding        : 3px 0px;
                margin         : 5px 0px;
                border         : 1px solid red;

                .icon-trash {
                    font-size: 25px;
                    color    : red;
                }
            }
        }
    }
}